# You need to install PyTorch separately
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu128
pandas
pymupdf4llm
httpx
tiktoken
numpy
transformers
einops==0.8.1
timm==1.0.15
datasets
unsloth==2025.6.2
trl
striprtf
packaging==25.0
gradio
EbookLib
bs4
beautifulsoup4
markdownify
huggingface-hub
tqdm
tokenizers
typing_extensions
requests
torch
safetensors
sentencepiece
PyYAML
typer
pydantic
docstring_parser
annotated-types
PyPDF2
nltk
python-docx
sentence-transformers
lxml
peft
uvicorn
fastapi
typing_extensions
docstring_parser